[submodule "compliantkubernetes"]
	path = compliantkubernetes
	url = git@github.com:elastisys/compliantkubernetes
	branch = master
[submodule "compliantkubernetes-apps"]
	path = compliantkubernetes-apps
	url = git@github.com:elastisys/compliantkubernetes-apps
	branch = main
[submodule "icap-infrastructure"]
	path = icap-infrastructure
	url = git@github.com:elastisys/icap-infrastructure.git
[submodule "icap-management-ui"]
	path = icap-management-ui
	url = git@github.com:elastisys/icap-management-ui.git
[submodule "icap-adaptation-service"]
	path = icap-adaptation-service
	url = git@github.com:cristiklein/icap-adaptation-service.git
	branch = fixes-for-compliantkubernetes
[submodule "icap-request-processing"]
	path = icap-request-processing
	url = git@github.com:elastisys/icap-request-processing.git
[submodule "k8-reverse-proxy"]
	path = k8-reverse-proxy
	url = git@github.com:elastisys/k8-reverse-proxy.git
	branch = develop
[submodule "mvp-icap-service"]
	path = mvp-icap-service
	url = git@github.com:elastisys/mvp-icap-service.git
[submodule "pod-janitor"]
	path = pod-janitor
	url = git@github.com:elastisys/pod-janitor.git
[submodule "compliantkubernetes-kubespray"]
	path = compliantkubernetes-kubespray
	url = git@github.com:elastisys/compliantkubernetes-kubespray.git
[submodule "vmware-scripts"]
	path = vmware-scripts
	url = git@github.com:elastisys/vmware-scripts.git
