[submodule "compliantkubernetes"]
	path = compliantkubernetes
	url = git@github.com:elastisys/compliantkubernetes
	branch = master
[submodule "compliantkubernetes-apps"]
	path = compliantkubernetes-apps
	url = git@github.com:elastisys/compliantkubernetes-apps
	branch = main
[submodule "ck8s-cluster"]
	path = ck8s-cluster
	url = git@github.com:elastisys/ck8s-cluster
	branch = master
[submodule "icap-infrastructure"]
	path = icap-infrastructure
	url = git@github.com:elastisys/icap-infrastructure.git
[submodule "s-k8-proxy-rebuild"]
	path = s-k8-proxy-rebuild
	url = git@github.com:elastisys/s-k8-proxy-rebuild.git
[submodule "icap-management-ui"]
	path = icap-management-ui
	url = git@github.com:elastisys/icap-management-ui.git
[submodule "icap-adaptation-service"]
	path = icap-adaptation-service
	url = git@github.com:elastisys/icap-adaptation-service.git
[submodule "icap-request-processing"]
	path = icap-request-processing
	url = git@github.com:elastisys/icap-request-processing.git
[submodule "k8-reverse-proxy"]
	path = k8-reverse-proxy
	url = https://github.com/k8-proxy/k8-reverse-proxy.git
	branch = develop
