[submodule "compliantkubernetes"]
	path = compliantkubernetes
	url = git@github.com:elastisys/compliantkubernetes
	branch = master
[submodule "compliantkubernetes-apps"]
	path = compliantkubernetes-apps
	url = git@github.com:elastisys/compliantkubernetes-apps
	branch = main
[submodule "compliantkubernetes-kubespray"]
	path = compliantkubernetes-kubespray
	url = git@github.com:elastisys/compliantkubernetes-kubespray.git
[submodule "vmware-scripts"]
	path = vmware-scripts
	url = git@github.com:elastisys/vmware-scripts.git
[submodule "cs-k8s-api"]
	path = cs-k8s-api
	url = git@github.com:elastisys/cs-k8s-api.git
[submodule "icap-infrastructure"]
	path = icap-infrastructure
	url = git@github.com:samarthdd/icap-infrastructure.git
