{
      "aws_access_key": "{{env `AWS_ACCESS_KEY_ID`}}",
      "aws_secret_key": "{{env `AWS_SECRET_ACCESS_KEY`}}",
      "region": "eu-west-1",
      "vm_name": "glasswall-ec2",
      "github_sha": null,
      "team_tag":"",
      "owner_tag":""
}
