{
"hostname":       "glasswall",
"domain":         "local",
"ssh_user":       "glasswall",
"ssh_pass":       "Gl@$$wall",
"cd_dir":         "cdrom",
"esxi_host":      "esxi.example.com",
"esxi_datastore": "datastore1",
"esxi_username":  "root",
"esxi_password":  "changeme",
"vswitch":        "VM",
"ssh_host":       "192.168.1.2",
"vm_name":        "ubuntu-base-gw",
"memory":          "2048",
"cpu":             "2"
}
